
.body{
  border-radius: 25x;
  margin-top: 10%;
}
.cad{
  border: 2px solid black;
 display: flex;
}
img{
  width: 100%;

}
.ract{
  width: 9%;
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.im{
  width: 50%;
}
.dit{
  width: 50%;
}